html {
	color: #222;
	/* font-family: 'Rubik', sans-serif; */
	font-family: 'Kanit', sans-serif;
	font-size: 1em;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.hidden,
[hidden] {
	display: none !important;
}

.visually-hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix::before,
.clearfix::after {
	content: '';
	display: table;
}

.clearfix::after {
	clear: both;
}

@media only screen and (min-width: 35em) {
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
}

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;

		box-sizing: border-box;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: ' (' attr(href) ')';
	}

	abbr[title]::after {
		content: ' (' attr(title) ')';
	}

	a[href^='#']::after,
	a[href^='javascript:']::after {
		content: '';
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box !important;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:focus {
	outline: 0;
}

body {
	color: white;
}

#header {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(../img/bgHeader.jpg);
	/* background-image: url(../img/bgHeader.jpg); */
	background-size: cover;
	background-repeat: no-repeat;

	min-height: 100vh;

	padding-top: 7rem;
}

.container {
	width: 80%;
	max-width: 1440px;
	margin: auto;
}

button {
	background: none;
	border: none;
}

a {
	text-decoration: none;
}

#header .nav {
	height: 80px;
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	background: hsla(240, 3%, 13%, 0.829);

	width: 100%;

	display: flex;
	align-items: center;

	position: fixed;
	top: 0;

	font-weight: 700;
}

#header .nav > div {
	width: 80%;
	max-width: 1400px;
	margin: auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-size: 3rem;
	font-weight: 700;
	color: white;
}

.menu {
	list-style: none;
}

#header .menu {
	display: flex;
	align-items: center;
	gap: 3rem;
	font-size: 1.2rem;
}

.items {
	color: white;
	transition: 700ms ease-in-out;
}

.items:hover {
	filter: brightness(0.7);
	/* transform: scale(0.7); */
}

.btnLinks {
	font-size: 1.4rem;
	font-weight: 600;
	padding: 1rem 4rem;
	border: none;
	background: #e31837;
	color: #fff;
	transition: 700ms ease-out;
	cursor: pointer;
}

.btnLinks:hover {
	background: #ffc500;
	color: #000;
	transition: 0.2s ease-out;
}

/* .banner {
	width: 100%;
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	background: hsla(240, 3%, 13%, 0.829);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;

	padding: 1rem;
}

.banner .btn {
	font-size: 1.2rem;
	color: #fff;
	background-color: #e31837;
	padding: 0.5rem 2rem;
	border-radius: 10px;
} */

.hero {
	max-width: 500px;
}

.hero > h1,
.hero > h2 {
	text-transform: uppercase;
	color: white;
}

.hero > h1 {
	font-size: clamp(2.5rem, 10vw, 5rem);
	margin-bottom: 1rem;
	box-shadow: 3px 5px #e9ba23;
	letter-spacing: 3px;
}

.hero > h2 {
	font-size: clamp(2rem, 2.5vw, 3rem);
	margin-bottom: 2rem;
	margin: 0 0 1rem 0rem;
}

#main {
	/* background: #0d0909; */
	background: #150f0f;
}

.features {
	min-height: 100vh;
	padding: 5rem calc((100vw - 1300px) / 2);
	color: #fff;
}

.features > div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5rem;
}

.features > div > div {
	margin: 0 2rem;
	line-height: 2;
	width: 300px;
	text-align: center;
}

.features img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	box-shadow: 8px 8px #fdc500;
}

.features > h2 {
	font-size: clamp(2rem, 2.5vw, 3rem);
	text-align: center;
	margin-bottom: 5rem;
}

.features h4 {
	font-weight: 400;
	font-size: 1.5rem;
}

.features .description {
	margin-bottom: 1rem;
}

.features .price {
	margin-bottom: 1rem;
	font-size: 2rem;

	display: block;
}

.features button {
	font-size: 1rem;
	padding: 1rem 4rem;
	border: none;
	background: #e31837;
	color: #fff;
	transition: 0.2 ease-out;
}

.features button {
	background: #ffc500;
	transition: 0.2s ease-out;
	cursor: pointer;
	color: #000;
}

.pizzaOfTheDay {
	height: 80vh;
	width: 100%;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.918), rgba(0, 0, 0, 0.767)), url(../img/bg.jpg);
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;

	height: 100vh;
	max-height: 500px;
}

.pizzaOfTheDay > h2 {
	font-size: clamp(3rem, 5vw, 5rem);
}

.pizzaOfTheDay > p {
	margin-bottom: 1rem;
	font-size: clamp(1rem, 3vw, 2rem);
}

.pizzaOfTheDay > .btnLinks {
	background: #ffc500;
	font-size: 1.4rem;
	padding: 0.6rem 3rem;
	border: none;
	color: #000;
	transition: 0.2s ease-out;
}

.pizzaOfTheDay > .btnLinks:hover {
	color: #fff;
	background-color: #e31837;
	transition: 0.2s ease-out;
	cursor: pointer;
}

/* #footer .nav {
	height: 70vh;
	justify-content: space-between;
}

#footer {
	background-color: #0d0909;
} */

.fab,
.fas {
	font-size: 2rem;
	color: white;
}

/* #footer .menu {
	list-style: none;
	gap: 1rem;
	display: flex;
	align-items: center;
}

#footer .menu {
	flex-direction: column;
	align-items: baseline;
} */

#backToTop {
	position: fixed;
	right: 1rem;
	bottom: 1.5rem;
	/* border-radius: 50%; */
	/* clip-path: circle(50% at 50% 50%); */
	background-color: #01e675;
	padding: 1rem;

	position: fixed;
	right: 1rem;
	bottom: 1rem;
	padding: 0.5rem;
	clip-path: circle();
	font-size: 1.5rem;
	line-height: 0;

	/* width: 2rem;
	height: 2rem; */
}

.menuMobile {
	display: none;
}

#footer {
	background-color: #0d0909;
}

#footer .logo {
	font-size: 2rem;
}

#footer nav {
	padding: 16px 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#footer nav .menu {
	display: flex;
	align-items: center;
	gap: 1rem;
}

#footer a {
	color: #fff;
}

@media (max-width: 1200px) {
	html {
		font-size: 100%;
	}
	#header .menu {
		display: none;
	}

	#header .menu.on {
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 1rem;
		align-items: baseline;
		/* top: 0;
		right: 0; */
		position: fixed;
		inset: 0% 0% 0% 30%;
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
		background: hsla(240, 3%, 13%, 0.829);
		padding: min(30vh, 10rem) 2rem;

		height: 100vh;
	}

	.menuMobile {
		display: block;
		width: 40px;
		height: 30px;
		margin-right: 20px;
	}

	.menuMobile.on {
		position: fixed;
		z-index: 1;
		right: 3.5rem;
	}

	.menuMobile.on .one {
		transform: rotate(45deg) translate(7px, 7px);
	}
	.menuMobile.on .two {
		opacity: 0;
	}
	.menuMobile.on .three {
		transform: rotate(-45deg) translate(8px, -10px);
	}

	.bar {
		background: #fff;
		height: 5px;
		width: 100%;
		margin: 6px auto;
		transition-duration: 0.3s;

		-webkit-border-radius: 9px;
		-khtml-border-radius: 9px;
		-moz-border-radius: 9px;
		-ms-border-radius: 9px;
		-o-border-radius: 9px;
		border-radius: 9px;
	}
}
